[Desktop Entry]
Name=Launchpad macOS
Comment=Un launchpad estilo macOS para Linux Mint
Exec=/usr/bin/launchpad_bin
Icon=/usr/share/icons/hicolor/scalable/apps/launchpad.png
Terminal=false
Type=Application
Categories=Utility;
